<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.net>
    <defaultProxy>
	  <!-- Uncomment below to use a Proxy server (or Fiddler to debug) -->
      <!-- <proxy bypassonlocal="False" usesystemdefault="True" proxyaddress="http://127.0.0.1:8888" /> -->
    </defaultProxy>
  </system.net>
</configuration>